<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webstore Name - Login</title>
    <link rel="stylesheet" href="/stylesheet/main.style.css">
    <link rel="stylesheet" href="/stylesheet/page/login.style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>

<body>
    <!-- Container -->
    <div class="containers">
        <div class="form-login">
            <h1 class="title-card">Login</h1>
            <p>Belum punya akun? <a href="/register">Daftar disini!</a></p>
            <form class="row g-3">
                <div class="col-md-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" placeholder="myemail@gmail.com" id="email">
                </div>
                <div class="col-md-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="*********" id="password">
                </div>
                <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="agreement" required>
                      <label class="form-check-label" for="agreement">
                        Agree to terms and conditions
                      </label>
                    </div>
                  </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary d-block">Sign in</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>